body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #1d2d49;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


button {
    background: none;
    border: none;
    padding: 0;
    margin: 10px;
    width: 30vw;
    height: 30vh;
    cursor: pointer;
    outline: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button img {
    width: 30vw;
    height: 30vh;
    object-fit: contain;
}

#result, #score, #winner, #round {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 460;
    user-select: none;
}

.bold-score {
    font-size: larger;
    font-weight: 600;
    color: #ffffff;
}

.emoji {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

header {
    position: fixed;
    top: -15px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    user-select: none;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    user-select: none;
    width: 100%;
    color: black;
}
