body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #1d2d49;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


button {
    background: none;
    border: none;
    padding: 0;
    margin: 10px;
    width: 20%;
    height: auto;
    cursor: pointer;
    outline: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#result, #score, #winner, #round {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 460;
    user-select: none;
}

.bold-score {
    font-size: larger;
    font-weight: 600;
    color: #ffffff;
}

.emoji {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

header {
    position: fixed;
    top: -15px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    user-select: none;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    user-select: none;
    width: 100%;
    color: black;
}

@media (max-width: 768px) {
    button {
        width: 80%;  /* Make buttons a bit smaller on phones */
    }

    button img {
        width: 80%;  /* Image will now fit within the smaller button */
    }

    #result, #score, #winner, #round {
        font-size: 1.2rem;  /* Scale down text size */
    }

    header {
        font-size: 1.5rem;  /* Adjust header size */
        text-align: center;
    }

    footer {
        font-size: 0.8rem;  /* Smaller text for footer */
    }
}